@font-face {
    font-family: "PermanentMarker";
    src:url("../fonts/PermanentMarker.ttf");
}

body {
    padding: 0;
    margin: 0;
    /* fallback */
    background-color: #2F2727;
    background-image: url(../img/radial_bg.png);
    background-position: center center;
}

canvas {
    border: 1px solid #212121;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    background: white;
}

.center {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.info {
    width: 600px;
    height: 50px;
    color: #c9c8c8;
    font-size: 30px;
}

.info span {
    padding: 10px;
    opacity: 0.85;
    font-size: 62px;
    text-shadow: 2px 2px 2px black;
}

.won {
    color: #2fcc36;
}

.lost {
    color: #CC0000;
}

.info button {
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    color: #c9c8c8;
    padding: 10px;
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.info button:hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
}

.info button:active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
}

.banner {
    color: #FFD800;
    text-align: center;
    font-size: 65px;
    margin-top: 10px;
    letter-spacing: 25px;
    font-family: 'PermanentMarker', cursive;
    text-shadow: 6px 7px 8px black;
}

.hide {
    display: none;
}

.credits {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Help section */
.help-section {
    text-align: left;
}

#support-icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#support-icons img {
    width: 40px;
    cursor: pointer;
    vertical-align: middle;
}

.support-icon {
    margin: 5px;
}

.hightlight {
    color: #0000ef;
}

#copy-clipboard {
    font-size: 25px;
    padding: 5px;
    margin-left: 5px;
}

#room-link-url {
    font-size: 22px;
}

/* Overriding alertify dialog width */
.alertify .dialog div{
    width: 700px;
}
